@namespace url(
      "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"
   );

/* Global colors and stuff: *************************************************/

*|*:root {
   --x-background-color : #3c4244;
   --x-foreground-color : #aaaaaa;
}

/* Fix tab background. Color is hardcoded for now… **************************/

.tab-background[selected="true"] {
   background-color : var(--x-background-color) !important;
   background-image : none !important;
}

/* Fix empty tab background on start (about:blank in userContent.css): ******/

#tabbrowser-tabpanels {
   background : var(--x-background-color) !important;
}

/* Smaller new tab button and always visible tab list button: ***************/

.tabs-newtab-button,
#new-tab-button,
#alltabs-button,
toolbarbutton.scrollbutton-up,
toolbarbutton.scrollbutton-down {
   opacity   : 0.75 !important;
   transform : scale(0.75) !important;
}

toolbarbutton.scrollbutton-down {
   transform : scale(0.75) rotate(180deg) !important;
}

#alltabs-button {
   visibility : visible !important;
}

/* Smaller tabs: ************************************************************/

[uidensity="compact"]:root {
   --newtab-margin  : -2px 0 !important;
   --tab-min-height : 22px !important;
}

:root[uidensity="compact"] #tabbrowser-tabs {
   --tab-min-height : var(--tab-min-height) !important;
}

.tabbrowser-tab {
   max-height : var(--tab-min-height) !important;
}

.tabs-newtab-button {
   margin      : var(--newtab-margin) !important;
   margin-left : 0px !important;
}

/* Hide private browsing icon: **********************************************/

#TabsToolbar .private-browsing-indicator {
   display : none;
}

/* Animated sound playing icon: *********************************************/

.tab-icon-sound[soundplaying] {
   animation : fading 2s ease infinite !important;
}

@keyframes fading {
     0% { color : #db5b5a; }
    50% { color : #2eb398; }
   100% { color : #db5b5a; }
}

.tab-icon-sound[muted] {
   animation : none !important;
   color     : green !important;
}

/* Hide the close tab button except on hover: *******************************/

.tabbrowser-tab:not([pinned]):not(:hover) .tab-close-button {
   visibility : collapse !important;
}
.tabbrowser-tab:not([pinned]):hover .tab-close-button {
   display    : block !important;
   visibility : visible !important;
}

/* Make it round and red on hover: ******************************************/

.tab-close-button {
   border        : none !important;
   border-radius : 15px !important;
   margin-right  : -5px !important;
   margin-top    : -1px !important;
   transform     : scale(0.75) !important;
}

.tab-close-button:hover {
   background-color : #a00 !important;
   border-radius    : 15px !important;
   color            : black !important;
}

/* Let the drapes match the carpet: *****************************************/

.tabbrowser-tab[usercontextid] .tab-line,
.tabbrowser.tab[usercontextid] .tab-line {
   background : var(--identity-tab-color) !important;
}

/* And make the carpet nicer: ***********************************************/

.tabbrowser-tab[usercontextid]
   > .tab-stack
   > .tab-background
   > .tab-bottom-line
{
   background : linear-gradient(
         to right,
         transparent 0%,
         var(--identity-tab-color) 50%,
         var(--identity-tab-color) 50%,
         transparent 100%
      ) !important;
}

/* Make the favicon on new tabs less (or in-) visible: **********************/

.tabbrowser-tab[image^="chrome://branding/"][label="New Tab"]:not([pinned])
   .tab-icon-image
{
   filter  : grayscale(1) brightness(0.5) contrast(1) invert(1) !important;
   opacity : 0 !important;
}

.tabbrowser-tab[image^="chrome://branding/"][label="New Tab"]
   .tab-label-container,
.tabbrowser-tab[label="New Tab"]:not([image]) .tab-label-container {
   font-size : 0 !important;
}

.tabbrowser-tab[image^="chrome://branding/"][label="New Tab"]
   .tab-label-container:before,
.tabbrowser-tab[label="New Tab"]:not([image]) .tab-label-container:before {
   content   : "∅";
   font-size : 0 !important;
   opacity   : 0.5 !important;
}

/* Colorize container favicons: *********************************************/

.tabbrowser-tab[usercontextid]:not([pinned]) .tab-icon-image {
   opacity : 1 !important;
}

:root {
   --rot-or    : 330deg;
   --rot-bl    : 150deg;
   --rot-gr    :  70deg;
   --rot-pi    : 250deg;
   --rot-tu    : 110deg;
   --rot-ye    :   0deg;
   --rot-re    : 300deg;
   --rot-pu    : 200deg;
   --saturate  : 200%;
   --grayscale :   1;
   --sepia     :   1;
}

.tabbrowser-tab[data-identity-color^="bl"]:not([pinned]) .tab-icon-image {
   filter:
      grayscale(var(--grayscale))
      sepia(var(--sepia))
      saturate(var(--saturate))
      hue-rotate(var(--rot-bl))
      !important;
}

.tabbrowser-tab[data-identity-color^="gr"]:not([pinned]) .tab-icon-image {
   filter:
      grayscale(var(--grayscale))
      sepia(var(--sepia))
      saturate(var(--saturate))
      hue-rotate(var(--rot-gr))
      !important;
}

.tabbrowser-tab[data-identity-color^="or"]:not([pinned]) .tab-icon-image {
   filter:
      grayscale(var(--grayscale))
      sepia(var(--sepia))
      saturate(var(--saturate))
      hue-rotate(var(--rot-or))
      !important;
}

.tabbrowser-tab[data-identity-color^="pi"]:not([pinned]) .tab-icon-image {
   filter:
      grayscale(var(--grayscale))
      sepia(var(--sepia))
      saturate(var(--saturate))
      hue-rotate(var(--rot-pi))
      !important;
}

.tabbrowser-tab[data-identity-color^="pu"]:not([pinned]) .tab-icon-image {
   filter:
      grayscale(var(--grayscale))
      sepia(var(--sepia))
      saturate(var(--saturate))
      hue-rotate(var(--rot-pu))
      !important;
}

.tabbrowser-tab[data-identity-color^="re"]:not([pinned]) .tab-icon-image {
   filter:
      grayscale(var(--grayscale))
      sepia(var(--sepia))
      saturate(var(--saturate))
      hue-rotate(var(--rot-re))
      !important;
}

.tabbrowser-tab[data-identity-color^="tu"]:not([pinned]) .tab-icon-image {
   filter:
      grayscale(var(--grayscale))
      sepia(var(--sepia))
      saturate(var(--saturate))
      hue-rotate(var(--rot-tu))
      !important;
}

.tabbrowser-tab[data-identity-color^="ye"]:not([pinned]) .tab-icon-image {
   filter:
      grayscale(var(--grayscale))
      sepia(var(--sepia))
      saturate(var(--saturate))
      hue-rotate(var(--rot-ye))
      !important;
}

/* Smaller navigation bar (and URL bar and search bar): *********************/
/* Disabled. Broken with FF70.

#urlbar, .searchbar-textbox {
   height     : 22px !important;
   margin-top : 2px !important;
   min-height : 22px !important;
}

#nav-bar {
   height : 28px !important;
}
*/
/* Remove the bottom border of the navigation box: **************************/

#navigator-toolbox::after {
   border-bottom : none !important;
}

/* Hide the arrow button in the search bar: *********************************/

searchbar .search-go-button {
   display : none !important;
}

/* Hide placeholder text: ***************************************************/

#navigator-toolbox *|*.textbox-input::-moz-placeholder {
   opacity : 0 !important;
}

/* Vintage search engine list: **********************************************/
/* Disabled. Broken with FF70.

#PopupSearchAutoComplete #searchbar-anon-search-settings-compact,
#PopupSearchAutoComplete .search-panel-current-input,
#PopupSearchAutoComplete .search-panel-one-offs .dummy {
   display : none !important;
}

#PopupSearchAutoComplete .search-panel-header {
   min-height : 0 !important;
}

#PopupSearchAutoComplete .search-panel-current-engine {
   font-style   : italic !important;
   padding-left : 1rem !important;
}

#PopupSearchAutoComplete .search-panel-current-engine label {
   margin-left : 1rem !important;
}

#PopupSearchAutoComplete .search-panel-tree,
#PopupSearchAutoComplete .searchbar-engine-one-off-item {
   display : block !important;
}

#PopupSearchAutoComplete .search-panel-tree [anonid="main-box"] {
   width : 100%;
}

#PopupSearchAutoComplete .searchbar-engine-one-off-item {
   border       : none !important;
   height       : 1.75rem !important;
   min-height   : 1.75rem !important;
   min-width    : 100% !important;
   padding-left : 1rem !important;
}

#PopupSearchAutoComplete .searchbar-engine-one-off-item::after {
   content     : attr(tooltiptext) !important;
   display     : block !important;
   margin-left : 1rem !important;
   padding     : 1rem 0 1rem 0;
   width       : 666rem;
}
*/
/* Move the hamburger menu button to the left: ******************************/

#PanelUI-button {
   order   : -1 !important;
   opacity : 0.25 !important;
}

/* No round borders on the toolbar: *****************************************/

:root {
   --toolbarbutton-border-radius : 0px !important;
}

/* Some adjustments to extension buttons: ***********************************/

#navigator-toolbox toolbarbutton[data-extensionid] {
   filter : grayscale(1) brightness(0.8) !important;
}

/* Remove the header (Bookmarks, History…) from the sidebar: ****************/

#sidebar-header {
   display : none;
}

/* Sidebar colors: **********************************************************/

#sidebar,
#sidebar-search-container,
#sidebar-search-container #viewButton,
.content-header,
.sidebar-header {
   color : var(--x-foreground-color) !important;
}

.sidebar-placesTree {
   color : var(--x-foreground-color) !important;
}

.sidebar-placesTree::-moz-tree-image,
.sidebar-placesTreechildren::-moz-tree-image {
   fill : var(--x-foreground-color) !important;
}

hbox#sidebar-search-container textbox#search-box {
   -moz-appearance  : none !important;
   appearance       : none !important;
   background-color : var(--x-background-color) !important;
   border           : 1px solid #aaa !important;
   color            : var(--x-foreground-color) !important;
   min-height       : 20px !important;
}

/* Disabled. Looks fine without it in FF72.

#sidebar-splitter {
   background-color : var(--x-background-color) !important;
   border-color     : var(--x-background-color) !important;
   width            : 10px !important;
   opacity          : 0.85 !important;
}
*/
/* In the bookmark sidebar, hide the search field: **************************/

#bookmarksPanel #sidebar-search-container {
   display : none;
}

/* Hide navigation buttons from context menu: *******************************/

#context-navigation, #context-navigation + * {
   display : none !important;
}

/* Move find bar to the top left (and remove the animation): ****************/

.browserContainer > findbar {
   order      : -1 !important;
   border     : none !important;
   box-shadow : none !important;
   transition : 0ms !important;
   margin-top : -5px !important;
}

/* Center the close button on the find bar: *********************************/

.findbar-closebutton {
   height              : inherit !important;
   margin-bottom       : 0.25em !important;
   margin-inline-start : 0.5em !important;
   vertical-align      : middle !important;
}

/* Proton fixes: ************************************************************/

/*
The following styles kinda fix that garbage Proton tab bar (together with the
styles above for pre-Proton). Some parts of this are based on the CSS from
<https://github.com/black7375/Firefox-UI-Fix>.
*/

.tabbrowser-tab {
   padding-inline : 0px !important;
}

.toolbar-items, .tabbrowser-tab {
   max-height : 28px;
   min-height : 28px;
}

.tab-background {
   border-radius : 0px !important;
}

.tabbrowser-tab:not([visuallyselected],[multiselected],:hover,:first-child)
   .tab-background::before,
#tabs-newtab-button:not(:hover,[open])::before {
   background-color : #aaa;
   opacity          : 0.5;
   content          : "";
   display          : block;
   position         : absolute;
   top              : 7px;
   height           : 20px;
   width            : 1px;
}

#navigator-toolbox:not([movingtab])
   .tabbrowser-tab:is([visuallyselected],[multiselected],:hover)
   + .tabbrowser-tab .tab-background::before,
#navigator-toolbox:not([movingtab])
   .tabbrowser-tab:is([visuallyselected],[multiselected],:hover)
   ~ .tabbrowser-tab[afterhovered] .tab-background::before,
#navigator-toolbox:not([movingtab]) .tabbrowser-tab[last-visible-tab]
   ~ #tabs-newtab-button::before,
#navigator-toolbox:not([movingtab])
   .tabbrowser-tab[first-visible-unpinned-tab] .tab-background::before {
   opacity : 0 !important;
}

#tabs-newtab-button {
   --tabs-navbar-shadow-size          : -1px;
   --tabs-navbar-original-shadow-size : -1px;
   padding-top                        : var(--tab-block-margin) !important;
}

#tabs-newtab-button:before {
   background-color : transparent !important;
}

#tabs-newtab-button > .toolbarbutton-icon {
   border-radius : 0 !important;
}

#tabs-newtab-button .toolbarbutton-icon {
   list-style-image    : none !important;
   background-image    : url(chrome://global/skin/icons/plus.svg);
   background-repeat   : no-repeat !important;
   background-position : 50% 20% !important;
   height              : 23px;
   border-radius       : 0px !important;
   margin-bottom       : -5px !important;
   padding             :
      calc(var(--toolbarbutton-inner-padding) - (var(--tab-block-margin) / 4))
      var(--toolbarbutton-inner-padding)
      calc(
         var(--toolbarbutton-inner-padding)
         + (var(--tab-block-margin) / 4)
         + var(--tabs-navbar-original-shadow-size)
      ) !important;
}

/* Fix tab bar height: ******************************************************/

#TabsToolbar, #TabsToolbar-customization-target {
   height : 27px !important;
}

stack.tab-icon-stack {
   margin-top : -3px !important;
}

/* :indentSize=3:tabSize=3:noTabs=true:mode=css:maxLineLen=78: **************/
